<!-- <form [formGroup]="userDetails">
  <mat-form-field  fxFlex>
    <mat-label>name</mat-label>
    <input matInput formControlName="name" required>
</mat-form-field>

<mat-form-field >
  <mat-label>Birthday</mat-label>
  <div style="display: flex;">
      <input matInput [matDatepicker]="picker2" formControlName="dob">
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
  </div>
  <mat-datepicker #picker2></mat-datepicker>

  <mat-hint>DD/MM/YYYY</mat-hint>
</mat-form-field>
</form>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
      [disabled]="!(userDetails.valid && userDetails.dirty)">Save
  </button>
</mat-dialog-actions> -->

<div>
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>



