<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="loginForm" *ngIf="!isLoading">
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" autocomplete="off">
      <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
        <span *ngIf="loginForm.controls.email.errors.required">Email is required.</span>
        <span *ngIf="loginForm.controls.email.errors.email">Please enter a valid email.</span>
      </mat-error>
    </mat-form-field>


    <mat-form-field >
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" autocomplete="off">
      <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
        <span *ngIf="loginForm.controls.password.errors.required">Please enter a valid password.</span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent"
    [disabled]="!(loginForm.valid && loginForm.dirty)"
    (click)="onLogin()"
    *ngIf="!isLoading">
      Login
    </button>
  </form>
</mat-card>
